@import "variable";
@import "font";

/*Communs*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: $primary-font-main;
}

a,
p,
input {
    font-size: $font-regular-size;
    font-weight: $font-regular-weight;
}

/*Quick classes*/
.flex-grow-0 {
    flex-grow: 0;
}
.flex-grow-1 {
    flex-grow: 1;
}

/*Button Transparent*/
.btn-transparent {
    background: none;
    border: none;
}
